---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar";
import { ArrowRightIcon, LockClosedIcon } from "@heroicons/react/24/outline";
import { Image } from "astro:assets";
import overviewImage from "../assets/overview.webp";
import owenImage from "../assets/owen.webp";
import CommitCard from "../components/CommitCard.astro";
import Carousel from "../components/Carousel";
---

<!-- TODO: hack for "min margins", move to layout -->
<Layout title="Welcome to tauOS">
  <Navbar pathname={Astro.url.pathname} client:load />

  <div class="mx-6 my-20">
    <div class="mx-auto max-w-5xl flex flex-col gap-20">
      <section class="flex items-center gap-12 justify-around">
        <div class="flex-1">
          <h1 class="font-bold text-5xl mb-4 dark:opacity-[92%]">
            Welcome to your next-generation operating system.
          </h1>

          <p class="mt-6 text-gray-800 dark:text-gray-300">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto
            dicta modi eligendi placeat non hic, et quia quisquam libero dolorem
            molestias.
          </p>

          <div class="flex mt-6 gap-4 items-center">
            <a
              href=""
              class="flex items-center gap-1 text-violet-700 dark:text-violet-300"
              >Learn More <ArrowRightIcon
                name="fa-solid:chevron-right"
                className="inline-block h-4"
              /></a
            >
            <a
              href=""
              class="flex items-center gap-1 text-violet-700 dark:text-violet-300"
              >Get involved <ArrowRightIcon
                name="fa-solid:chevron-right"
                className="inline-block h-4"
              /></a
            >
          </div>
        </div>

        <div class="flex-1 hidden lg:block">
          <Image
            src={overviewImage}
            alt="About tauOS"
            class="rounded-2xl hover:shadow-md transition-all bg-neutral-100 dark:bg-neutral-800 h-96"
          />
        </div>
      </section>

      <section class="flex items-center gap-12 flex-wrap-reverse">
        <div class="flex-1 flex-shrink">
          <Carousel
            client:load
            views={[
              {
                name: "Play",
                description: "An example gaming setup",
                image: "/carousel/play.webp",
              },
              {
                name: "Create",
                description: "A example creative setup",
                image: "/carousel/create.webp",
              },
              {
                name: "Develop",
                description: "",
                image: "/carousel/develop.webp",
              },
              {
                name: "Study",
                description: "An example study setup",
                image: "/carousel/study.webp",
              },
            ]}
          />
        </div>

        <div class="flex-1 items-center gap-12 justify-around">
          <h1 class="font-bold text-4xl dark:opacity-[92%]">
            For everything in the present, and the future.
          </h1>
          <h2 class="text-xl mt-2">You name it, we can run it</h2>
          <p class="mt-6 text-gray-800 dark:text-gray-300 [text-wrap:balance]">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
            adipisci odit, temporibus ratione quas, dicta sed quos consequatur
            perferendis perspiciatis soluta quo doloremque doloribus eaque,
            magnam incidunt consectetur quibusdam similique.
          </p>
        </div>
      </section>

      <section class="flex items-center gap-12 justify-around">
        <div class="flex-1">
          <h1 class="font-bold text-4xl dark:opacity-[92%]">
            Everything, all at once.
          </h1>
          <h2 class="text-xl mt-2">A workspace between every device</h2>
          <p class="mt-6 text-gray-800 dark:text-gray-300 [text-wrap:balance]">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
            adipisci odit, temporibus ratione quas, dicta sed quos consequatur
            perferendis perspiciatis soluta quo doloremque doloribus eaque,
            magnam incidunt consectetur quibusdam similique.
          </p>
        </div>

        <div></div>
      </section>

      <section class="flex items-center gap-12 flex-wrap justify-around">
        <div class="flex-1">
          <h1 class="font-bold text-4xl dark:opacity-[92%]">
            Resilliency at the core.
          </h1>
          <h2 class="text-xl mt-1">Install once, reinstall never</h2>
          <p class="mt-6 text-gray-800 dark:text-gray-300 [text-wrap:balance]">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
            adipisci odit, temporibus ratione quas, dicta sed quos consequatur
            perferendis perspiciatis soluta quo doloremque doloribus eaque,
            magnam incidunt consectetur quibusdam similique.
          </p>
        </div>

        <div class="h-72 w-96 bg-blue-700 rounded p-4 flex flex-col">
          <p class="text-4xl font-bold">:)</p>
          <p class="mt-4 text-lg leading-6">
            Your power went out during an update. The system has been rolled
            back and your data is safe.
          </p>

          <p class="mt-auto text-xs">Error code: NONE</p>
        </div>
      </section>

      <section class="flex items-center gap-12">
        <div class="flex-1">
          <h1 class="font-bold text-4xl dark:opacity-[92%]">
            An ecosystem that awes.
          </h1>
          <h2 class="text-xl mt-1">Apps, apps, and more apps</h2>
          <p class="mt-6 text-gray-800 dark:text-gray-300 [text-wrap:balance]">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
            adipisci odit, temporibus ratione quas, dicta sed quos consequatur
            perferendis perspiciatis soluta quo doloremque doloribus eaque,
            magnam incidunt consectetur quibusdam similique.
          </p>
        </div>
      </section>

      <section class="flex items-center gap-12 flex-wrap justify-around">
        <div class="flex-1">
          <h1 class="font-bold text-4xl dark:opacity-[92%]">
            Privacy as a first class citizen.
          </h1>
          <h2 class="text-xl mt-1">
            The incumbents don't give a #@!& about your best interests
          </h2>
          <p class="mt-6 text-gray-800 dark:text-gray-300 [text-wrap:balance]">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
            adipisci odit, temporibus ratione quas, dicta sed quos consequatur
            perferendis perspiciatis soluta quo doloremque doloribus eaque,
            magnam incidunt consectetur quibusdam similique.
          </p>
        </div>

        <div class="relative hover:shadow-md">
          <div
            class="absolute top-0 bottom-0 left-0 right-0 flex flex-col justify-end backdrop-blur-sm hover:backdrop-blur-none transition-all rounded-2xl"
          >
            <div
              class="flex flex-row items-center p-2 bg-neutral-100 dark:bg-neutral-800 rounded-b-xl gap-2"
            >
              <LockClosedIcon className="h-5" />{" "}<p>
                End to end encryption
              </p>
            </div>
          </div>
          <Image
            src={owenImage}
            alt="Blurred image"
            class="rounded-2xl transition-all bg-neutral-100 dark:bg-neutral-800 max-w-[300px]"
          />
        </div>
      </section>

      <section class="flex items-center gap-12 flex-wrap justify-around">
        <div class="flex-1">
          <h1 class="font-bold text-4xl dark:opacity-[92%]">Radically open.</h1>
          <h2 class="text-xl mt-1">Because you deserve freedom</h2>
          <p class="mt-6 text-gray-800 dark:text-gray-300 [text-wrap:balance]">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
            adipisci odit, temporibus ratione quas, dicta sed quos consequatur
            perferendis perspiciatis soluta quo doloremque doloribus eaque,
            magnam incidunt consectetur quibusdam similique.
          </p>
        </div>

        <div class="flex flex-col gap-2 flex-1 flex-shrink w-96">
          <CommitCard
            url="https://github.com/tau-OS/tau-helium/commit/3e8e26e123c9f384dfd1ad00e5e92257c236c048"
          />
          <CommitCard
            url="https://github.com/tau-OS/libhelium/commit/a868a129066b3e22dc3f392857c413b7575a03c0"
          />
          <CommitCard
            url="https://github.com/tau-OS/xenon/commit/e9fec5441369e5b9aac0aeb32db73a2142b64a07"
          />
        </div>
      </section>
    </div>
  </div>
</Layout>
